<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sl="http://www.nlog-project.org/schemas/NLog.Targets.Syslog.xsd">
    <extensions>
      <add assembly="NLog.Targets.Loggly" />
    </extensions>
    <targets>
      <target name="logfile" xsi:type="File" fileName="${tempdir}/FSM2OBSlog ${shortdate}.txt" layout="${machinename}|${assembly-version}|${longdate}|${level:padding=-5}|${logger:padding=-30}|${message}|${all-event-properties:format=[key]=[value]}|${exception:format=@}" maxArchiveDays="14" />
      <target name="Loggly" xsi:type="Loggly" layout="${message}" applicationName="FSM2OBS" customerToken="94cfe9b3-1b76-4098-9ddd-a096d360e2d4" endpointHostname="logs-01.loggly.com" endpointPort="443" logTransport="https">
        <contextproperty name="HostName" layout="${machinename}" />
        <contextproperty name="AssemblyVersion" layout="${assembly-version}" />
        <contextproperty name="applicationName" layout="FSM2OBS" />
      </target>
      <target name="syslog-tcp" xsi:type="Syslog">
        <sl:layout xsi:type="SimpleLayout" text="@log: {&quot;message&quot;: &quot;${message}&quot;}" />
        <sl:messageCreation>
          <sl:facility>Local1</sl:facility>
          <sl:rfc>Rfc5424</sl:rfc>
          <sl:rfc5424>
            <sl:hostname xsi:type="SimpleLayout" text="${machinename}" />
            <sl:appName xsi:type="SimpleLayout" text="${logger}/${assembly-version}" />
            <sl:procId xsi:type="SimpleLayout" text="${processid}" />
            <sl:msgId xsi:type="SimpleLayout" text="${threadid}" />
            <sl:disableBom>true</sl:disableBom>
          </sl:rfc5424>
        </sl:messageCreation>
        <sl:messageSend>
          <sl:protocol>tcp</sl:protocol>
          <sl:tcp>
            <sl:server>diskstation.jonsson.online</sl:server>
            <sl:port>5014</sl:port>
            <sl:reconnectInterval>3</sl:reconnectInterval>
          </sl:tcp>
        </sl:messageSend>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Info" writeTo="syslog-tcp" />
      <logger name="*" minlevel="Debug" writeTo="Loggly" />
    </rules>
  </nlog>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WatsonWebserver" publicKeyToken="5bbf1ea6092fbbce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.5.0" newVersion="4.3.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="delayOnIce" value="1" />
    <add key="delayStarted" value="2" />
    <add key="delayFinished" value="2000" />
    <add key="delayScore" value="3" />
    <add key="delayWarmup" value="4" />
    <add key="delayResurface" value="5" />

    <add key="transitionOnIce" value="Klipp" />
    <add key="transitionStarted" value="Tona" />
    <add key="transitionFinished" value="Glid" />
    <add key="transitionScore" value="Luma Wipe" />
    <add key="transitionWarmup" value="" />
    <add key="transitionResurface" value="" />

    <add key="durationOnIce" value="300" />
    <add key="durationStarted" value="200" />
    <add key="durationFinished" value="500" />
    <add key="durationScore" value="400" />
    <add key="durationWarmup" value="100" />
    <add key="durationResurface" value="" />

    <add key="sceneOnIce" value="Namnlist-Announcer" />
    <add key="sceneStarted" value="LiveKamera" />
    <add key="sceneFinished" value="Repris" />
    <add key="sceneScore" value="Poäng-Announcer" />
    <add key="sceneWarmup" value="Warmup" />
    <add key="sceneResurface" value="" />


  </appSettings>
</configuration>